.clearfix::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.margin-right {
  margin-right: 16px;
}
.margin-bottom {
  margin-bottom: 16px;
}
.fl { float: left; }
.fr { float: right; }
.full-h { height: 100%!important; }

.console {
  height: 100%;
  display: flex;
  flex-direction: column;
  .button-row {
    margin-bottom: 16px;
    button {
      margin-right: 16px;
    }	
  }

  .output {
    width: 100%;
    background: #eee;
  }
  .output p {
    position: relative;
    text-indent: 15px;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .output p::before {
    position: absolute;
    display: block;
    content: '';
    top: 5px;
    left: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 5px;
    border-color: transparent transparent transparent #9E9E9E;  
  }
  .CodeMirror-code {
    font-family: consolas;
  }
  .ant-upload-list {
    width: 300px;
  }

  .CodeMirror {
    height: 100%;
  }  
}

.regexp {
  .regexp-box {
    width: 100%;
    font-size: 40px;
    line-height: 5;
    background: #eee;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .ant-form-item-label > label {
    font-size: 16px;
  }
}

.triangle {
  .tri-box {
    float: right;
    width: 300px;
    height: 300px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1JREFUeNpiPHPmDAM2YGxsjFWciYFEMKqBGMD4//9/rBJnz54dDSX6aQAIMABCtQiAsDRF+wAAAABJRU5ErkJggg==);
  }   
  .tri {
    width: 0;
    height: 0;
    border-style: solid;
    transition: all .3s;
  }  
  section {
    margin-bottom: 16px;
    .direct-box {
      width: 120px;
      height: 120px;
    }
    .subtitle {
      font-size: 16px;
      font-weight: 700;
      color: #333;
    } 
    .css-code {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      background-color: #282c34;
      border-radius: 5px;
      color: #ccc;
      font-family: consolas;
    }
  }

}

.templ-syntax {
  .templ-box, .normal-box {
    font-family: consolas;
    background: #263238;
    color: khaki;
    outline: none;
  }
  .templ-box.ant-input:hover,
  .normal-box.ant-input:hover {
    border-color: #fff;
  }
  .copy-icon {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}